@model List<string>

<h1>User Information Portal</h1>
<hr>
<a href="/firstname">First Name</a> |
<a href="/lastname">Last Name</a> |
<a href="/fullname">Full Name</a> |
<a href="/friends">Friends</a> |
<a href="/numbers">Numbers</a> |
<a href="/all">All Info</a> 
<hr>

<h3>User Best Friends:</h3>
@{
  foreach(string friend in @Model)
  {
    <p>@friend</p>
  }
}